
[Unit]
Description=Poit
After=syslog.target network.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/python3 /home/pi/piot/gpio_web.py
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target